body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header,
.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.footer,
.footer-white {
    position: relative;
    display: flex;
    justify-content: center;

    background-size: contain !important;
    background-attachment: fixed;
}

.header {
    /* height: 810px; */
    padding-bottom: 43%;
    background: url(imj/header/fon.png) 0px 0px no-repeat;
    z-index: 1;
}

.block1 {
    /* height: 868px; */
    padding-bottom: 46%;
    margin-top: -10.4%;
    background: url(imj/block1/watch.png) 90% no-repeat,
                url(imj/block1/fon.png) 0px 0px no-repeat;
}

.block2 {
    /* height: 854px; */
    padding-bottom: 47.3%;
    margin-top: -7%;
    background: url(imj/block2/fon.png) 0px 0px no-repeat, url(imj/block2/map.png) center 1px no-repeat;
    z-index: 1;
}

.block3 {
    /* height: 646px; */
    padding-bottom: 34%;
    background: url(imj/block3/baby.png) right 0px no-repeat,
                url(imj/block3/fon.png) 0px 0px no-repeat;
    margin-top: -5%;
}

.block4 {
    /* height: 2807px; */
    padding-bottom: 146%;
    margin-top: -0.5%;
    background: url('imj/block4/watch-q-60.png') 0px 0px no-repeat, 
                url('imj/block4/fon-q-60.png') 0px 0px no-repeat, 
                url('imj/block4/watch-q-90.png') 0px 32.5% no-repeat, 
                url('imj/block4/fon-q-90.png') 0px 32.5% no-repeat, 
                url('imj/block4/watch-q-80.png') 0px 67.5% no-repeat, 
                url('imj/block4/fon-q-80.png') 0px 67.5% no-repeat, 
                url('imj/block4/watch-q-50.png') 0px 99.8% no-repeat, 
                url('imj/block4/fon-q-50.png') 0px 99.8% no-repeat;
    z-index: 1;
}

.block5 {
    /* height: 597px; */
    padding-bottom: 31%;
    margin-top: -3.6%;
    background: url('imj/block5/fon.png') 0px 0px no-repeat;
}

.block6 {
    padding-bottom: 33%;
    background: #fff;
}

.block7 {
    /*margin-top: -12%;*/
    /* height: 868px; */
    padding-bottom: 32.5%;
    background: url('imj/block7/fon.png') 0px 0px no-repeat;
    z-index: 2;
}

.footer {
    margin-top: -12%;
    padding-bottom: 30%;
    
    background: url(imj/footer/watch.png) 85% no-repeat,
                url(imj/footer/fon.png) 0px 0px no-repeat
}

.footer-white {
    position: relative;
    
    padding-bottom: 7%;
    z-index: 0;
}


/*** CONTENT BLOCK **/

.header__content,
.block1__content,
.block2__content,
.block3__content,
.block4__content,
.block5__content,
.block6__content,
.block7__content,
.footer__content,
.footer-white__content {
    position: absolute;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid black; 
    width: 70%;
    height: 100%;
}
.header__content {
    background: url(imj/header/watch.png) 0px 70% no-repeat;
    background-size: 40%;
}
.block1__content {
    
    
}

/*.footer__content {
    position: relative;
    background: url(imj/footer/watch.png) 180% 100% no-repeat;
    background-size: 80%;
    z-index: 1;
}*/
