.content {
    margin: 0 auto; 
    width: 1150px; 
    background-color: transparent; 
    overflow-y: hidden;
    overflow-x: hidden;
}

.fon {
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    min-width: 1150px; 
}

.buyButton {
    background-image: url('../Images/babywatch2/buyButton.png');
    width: 172px;
    height: 65px;
    cursor: pointer;
}

/*header*/

.header {
    background-image: url('../Images/babywatch2/Header/fon.png');
    height: 810px;
    z-index: 100;
}

.header .menu {
    margin-left: -25px;
    margin-top: 34px;
}

.header a.menuItem {
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    text-decoration: none;
    float: left;
    color: #ebeef3;
    margin-left: 25px;
    letter-spacing: -1.0px;
}

.header .info {
    margin-left: 605px;
    margin-top: 153px;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 47pt;
    letter-spacing: 1.5px;
    color: #FFFFFF;
}

.header h1.colored {
    color: #FA6ACE;
}

.header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
    color: #FFFFFF;
    line-height: 36pt;
    letter-spacing: -0.2px;
    margin-top: 20px;
}

.header .support {
    background-image: url('../Images/babywatch2/Header/AndroidApple.png');
    background-position: right;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 27pt;
    color: #39CFC7;
    margin-top: 18px;
    width: 310px;
    padding-top: 15px;

}

/*block1*/

.block1 {
    background-image: url('../Images/babywatch2/block-1/fon.png');
    height: 869px;
    margin-top: -185px;
    padding-top: 135px;
    z-index: 99;
}

.block1 .info {
    width: 520px;
}

.block1 h1 {
    color: #39354D;
    font-family: 'Roboto', sans-serif;
    font-size: 38pt;
    letter-spacing: -1.5px;
}

.block1 span.colored {
    color: #FA6ACE;
}

.block1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #6f7479;
    margin-top: 32px;
    margin-bottom: 48px;
    padding-right: 85px;
    line-height: 21pt;
}

.block1 .infoLine {
    height: 100px;
    padding-left: 76px;
    padding-top: 33px;
    background-position: center left;
    background-repeat: no-repeat;
    color: #403e51;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    letter-spacing: 0.9px;
}

.block1 .infoLine1 {
    background-image: url('../Images/babywatch2/block-1/infoline1.png');
}

.block1 .infoLine2 {
    background-image: url('../Images/babywatch2/block-1/infoline2.png');
}

.block1 .infoLine3 {
    background-image: url('../Images/babywatch2/block-1/infoline3.png');
}

.block1 .infoLine4 {
    background-image: url('../Images/babywatch2/block-1/infoline4.png');
}

/*block2*/

.block2 {
    background-image: url('../Images/babywatch2/block-2/fon.png');
    height: 906px;
    margin-top: -120px;
    padding-top: 120px;
    z-index: 98;
}

.block2 .info {
    width: 520px;
    margin-left: 658px;
}

.block2 h1 {
    color: #F6F6F6;
    font-family: 'Roboto', sans-serif;
    font-size: 38pt;
    letter-spacing: -1.5px;
}

.block2 span.colored {
    color: #FA6ACE;
}

.block2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #FFFFFF;
    margin-top: 31px;
    margin-bottom: 32px;
    padding-right: 55px;
    line-height: 22.5pt;
}

.block2 .infoLine {
    height: 90px;
    padding-left: 63px;
    margin-left: 16px;
    padding-top: 24px;
    background-position: center left;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    letter-spacing: 0.9px;
}

.block2 .infoLine1 {
    background-image: url('../Images/babywatch2/block-2/infoline1.png');
}

.block2 .infoLine2 {
    background-image: url('../Images/babywatch2/block-2/infoline2.png');
}

.block2 .infoLine3 {
    background-position-x: 5px;
    background-image: url('../Images/babywatch2/block-2/infoline3.png');
}

/*block3*/

.block3 {
    background-image: url('../Images/babywatch2/block-3/fon.png');
    height: 646px;
    margin-top: -91px;
    padding-top: 125px;
    z-index: 97;
}

.block3 .info {
    width: 550px;
}

.block3 h1 {
    color: #39354D;
    font-family: 'Roboto', sans-serif;
    font-size: 38pt;
    letter-spacing: -1.5px;
}

.block3 span.colored {
    color: #FA6ACE;
}

.block3 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #6f7479;
    margin-top: 32px;
    margin-bottom: 48px;
    padding-right: 113px;
    line-height: 21pt;
}

/*block4_q60*/

.block4_q60 {
    background-image: url('../Images/babywatch2/block-4/Q60/fon.png');
    height: 741px;
    margin-top: -2px;
    z-index: 95;
}

.block4_q60 .info {
    width: 520px;
    margin-left: 658px;
    margin-top: 55px;
}

.block4_q60 h1 {
    color: #39354D;
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
    letter-spacing: -1.5px;
}

.block4_q60 .price {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25pt;
    color: #39354D;
    width: 310px;
    padding-top: 5px;
    letter-spacing: -0.0px;
}

.block4_q60 span.colored {
    color: #FA6ACE;
    font-family: 'Roboto', sans-serif;
    font-size: 25pt;
}

.block4_q60 .techInfo {
    border-collapse: collapse;
    border: 0;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.block4_q60 .techInfo td {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #1d2f41;
    line-height: 21pt;
    padding: 5px 0;
    letter-spacing: -0.2px;
}

.block4_q60 .techInfo tr {
    background-color: #F1F2F4;
}

.block4_q60 .techInfo tr.altTr {
    background-color: transparent;
}

.block4_q60 .techInfo .name {
    width: 145px;
}

/*block4_q90*/

.block4_q90 {
    background-image: url('../Images/babywatch2/block-4/Q90/fon.png');
    height: 750px;
    margin-top: -70px;
    z-index: 93;
}

/*block4_q50*/

.block4_q50 {
    background-image: url('../Images/babywatch2/block-4/Q50/fon.png');
    height: 715px;
    margin-top: -68px;
    z-index: 96;
}

/*block4_q80*/

.block4_q80 {
    background-image: url('../Images/babywatch2/block-4/Q80/fon.png');
    height: 804px;
    margin-top: -69px;
    z-index: 94;
}

/*block5*/

.block5 {
    background-image: url('../Images/babywatch2/block-5/fon.png');
    height: 597px;
    margin-top: -66px;
    z-index: 92;
}

.block5 .info1 {
    width: 415px;
    margin-top: 218px;
    margin-left: -273px;
    position: absolute;
}

.block5 .info2 {
    width: 415px;
    margin-top: 218px;
    margin-left: 366px;
    position: absolute;
}

.block5 .info3 {
    width: 415px;
    margin-top: 218px;
    margin-left: 1009px;
    position: absolute;
}

.block5 h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    letter-spacing: 1px;
    text-align: center;
}

.block5 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 48px;
    line-height: 21pt;
    text-align: center;
}

/*block6*/

.block6 {
    background-color: white;
    height: 597px;
    margin-top: -75px;
    z-index: 91;
}

/*block7*/

.block7 {
    background-image: url('../Images/babywatch2/block-7/fon.png');
    height: 623px;
    margin-top: -91px;
    z-index: 92;
}

.block7 .info {
    width: 600px;
    margin: 0 auto;
    margin-top: 143px;
}

.block7 h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 35pt;
    letter-spacing: 1px;
    text-align: center;
}

.block7 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13.5pt;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 48px;
    line-height: 21pt;
    text-align: center;
}

/*block8*/

.block8 {
    background-image: url('../Images/babywatch2/block-8/fon.png');
    height: 577px;
    margin-top: -151px;
    z-index: 89;
}